<div class="main-div">
    <p-card header="Login" [style]="{width: '360px'}" class="p-shadow-24" >
        <form class="example-form" [formGroup]="loginForm" (ngSubmit)="onLogin()">
            <div class="p-field p-grid">
                <label for="firstname3" class="p-col-fixed" style="width:100px">User Name</label>
                <div class="p-col">
                    <input id="username" type="text" pInputText formControlName="username">
                </div>
            </div>
            <div class="p-field p-grid">
                <label for="lastname3" class="p-col-fixed" style="width:100px">Password</label>
                <div class="p-col">
                    <input id="password" type="password" pInputText formControlName="password">
                </div>
            </div>
            <button pButton type="submit" label="Login" [style]="{'margin-left': '7em'}" [loading]="isLoading"
                class="p-button-raised p-button-primary p-button" icon="pi pi-check"></button>
        </form>
    </p-card>
</div>