<p-toolbar>
  <div>
    <img src="../../../assets/headerLogo.png" alt="logo" style="width:10rem" />
  </div>

  <div class="p-toolbar-group-left">
    <div *ngIf="hasAccessTokenAndValidRole()">
      <button pButton type="button" [ngStyle]="{'margin-right':'8px'}" label="Job Search"
        class="p-button-raised p-button-secondary p-button-sm" (click)="onMenuButtonClick('jobSearch')"></button>

      <button pButton type="button" [ngStyle]="{'margin-right':'8px'}" label="Job List"
        class="p-button-raised p-button-secondary p-button-sm" (click)="onMenuButtonClick('jobList')"></button>

      <button pButton type="button" [ngStyle]="{'margin-right':'8px'}" disabled="true" label="Job Description"
        class="p-button-raised p-button-secondary p-button-sm" (click)="onMenuButtonClick('jobDescription')"></button>

      <button pButton type="button" [ngStyle]="{'margin-right':'8px'}" label="Job History"
        class="p-button-raised p-button-secondary p-button-sm" (click)="onMenuButtonClick('jobHistory')"></button>
    </div>
    <div *ngIf="hasAccessTokenAndValidRecruiterRole()">
      <button pButton type="button" [ngStyle]="{'margin-right':'8px'}" label="Job Application"
        class="p-button-raised p-button-secondary p-button-sm" (click)="onMenuButtonClick('jobAddition')"></button>

      <button pButton type="button" [ngStyle]="{'margin-right':'8px'}" label="View Candidate"
        class="p-button-raised p-button-secondary p-button-sm" (click)="onMenuButtonClick('viewAllUser')"></button>
      <button pButton type="button" [ngStyle]="{'margin-right':'8px'}" label="View Jobs"
        class="p-button-raised p-button-secondary p-button-sm" (click)="onMenuButtonClick('view-user-jobs')"></button>
    </div>

    <div *ngIf="hasAccessTokenAndValidAdminRole()">
      <button pButton type="button" [ngStyle]="{'margin-right':'8px'}" label="View All Users"
        class="p-button-raised p-button-secondary p-button-sm" (click)="onMenuButtonClick('viewAll')"></button>
    </div>

  </div>

  <div class="p-toolbar-group-right">
    <div *ngIf="!hasAccessToken()">
      <button pButton type="button" [ngStyle]="{'margin-right':'8px'}" label="Login"
        class="p-button-raised p-button-secondary p-button-sm" (click)="onMenuButtonClick('login')"></button>
      <button pButton type="button" [ngStyle]="{'margin-right':'8px'}" label="Sign Up"
        class="p-button-raised p-button-secondary p-button-sm" (click)="onMenuButtonClick('signup')"></button>
    </div>

    <div *ngIf="hasAccessToken()" class="menu">
      <app-logout></app-logout>
    </div>
  </div>

</p-toolbar>